<div>
	<div class="wrapper-md">
	  	<div class="panel panel-info  m-b-s">
	    	<div class="panel-heading">
	      		<h1 style="text-align:center;">Product Price Comparisor Verson3</h1>
	    	</div>
	    </div>
        <div class="form-group">
		    <div class="table-responsive">
			    <table class="table table-striped b-t b-light">
			        <thead>
			          	<tr>
			            	<th colspan="3" style="text-align:center;height:70px;">
			            		<input type="text" style="width:90%;height:50px;" ng-model="searchText" placeholder="enter the Product for searching">
			            	</th>
			            	<th style="width:25%;">
			            		<button type="submit" ng-click="search(searchText)" class="btn btn-primary">Search</button>
			            	</th>
			          	</tr>
			        </thead>
			        <tbody>
			        	
			        </tbody>
			    </table>
		    </div>
		</div>
	</div>		
</div>		